<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Brainytoes{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-blue-100">
    <nav class="bg-blue-500 p-4">
        <div class="container mx-auto flex justify-between items-center">
            <a href="{% url 'landing_page' %}" class="text-white text-lg font-bold">Brainytoes</a>
            <div>
                <ul>
                    {% if user.is_authenticated %}
                        <li class="inline-block mx-2"><a href="{% url 'books' %}" class="text-white hover:text-gray-300">Books</a></li>
                        <li class="inline-block mx-2"><a href="{% url 'software' %}" class="text-white hover:text-gray-300">Software</a></li>
                        <li class="inline-block mx-2"><a href="{% url 'tutorials' %}" class="text-white hover:text-gray-300">Tutorials</a></li>
                        <li class="inline-block mx-2"><a href="{% url 'account' %}" class="text-white hover:text-gray-300">Account</a></li>
                        <li class="inline-block mx-2"><a href="{% url 'custom_logout' %}" class="text-white hover:text-gray-300">Logout</a></li>
                    {% else %}
                        <li class="inline-block mx-2"><a href="{% url 'login' %}" class="text-white hover:text-gray-300">Login</a></li>
                        <li class="inline-block mx-2"><a href="{% url 'register' %}" class="text-white hover:text-gray-300">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    
    {% if user.is_authenticated and request.resolver_match.url_name == 'landing_page' %}
    <div id="welcome-message" class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative mb-4">
        <strong class="font-bold">Welcome, {{ user.username|capfirst }}!</strong>
        <span id="close-message" class="absolute top-0 bottom-0 right-0 px-4 py-3">
            <svg class="fill-current h-6 w-6 text-green-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 5.652a1 1 0 10-1.414-1.414L10 7.172 7.066 4.238a1 1 0 10-1.414 1.414L8.586 10l-2.934 2.934a1 1 0 101.414 1.414L10 12.828l2.934 2.934a1 1 0 001.414-1.414L11.414 10l2.934-2.934z"/></svg>
        </span>
    </div>
    <script>
        setTimeout(function() {
            document.getElementById('welcome-message').style.display = 'none';
        }, 3000);

        document.getElementById('close-message').onclick = function() {
            document.getElementById('welcome-message').style.display = 'none';
        };
    </script>
    {% endif %}


    <div class="container mx-auto mt-10">
        {% block content %}{% endblock %}
    </div>
    
</body>
</html>
