{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- favicon -->
    <link rel="icon" href="{% static 'images/icons/favicon.svg' %}" type="image/x-icon">
    <title>{% block title %}Brainytoes{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body class="bg-blue-100" id="main-body">
    <!-- main screen navigation bar -->
    <nav class="bg-blue-500 p-4">
        <div class="container mx-auto flex justify-between items-center">
            <a href="{% url 'landing_page' %}" class="flex items-center text-white text-lg font-bold">
                <img src="{% static 'images/icons/whitefa.png' %}" alt="Logo" class="h-10 w-10 mr-1">
                BrainyToes
            </a>
            <span class="text-white text-3xl cursor-pointer md:hidden" onclick="openNav()">&#9776;</span>            <div class="hidden md:block">
                <ul>
                    {% if user.is_authenticated %}
                        <li class="inline-block mx-2"><a href="{% url 'landing_page' %}" class="text-white hover:text-gray-300">Home</a></li>
                        <li class="inline-block mx-2"><a href="{% url 'books' %}" class="text-white hover:text-gray-300">Books</a></li>
                        <li class="inline-block mx-2"><a href="{% url 'software' %}" class="text-white hover:text-gray-300">Software</a></li>
                        <li class="inline-block mx-2"><a href="{% url 'tutorials' %}" class="text-white hover:text-gray-300">Tutorials</a></li>
                        <li class="inline-block mx-2"><a href="{% url 'account' %}" class="text-white hover:text-gray-300">Account</a></li>
                        <li class="inline-block mx-2"><a href="{% url 'custom_logout' %}" class="text-white hover:text-gray-300">Logout</a></li>
                    {% else %}
                        <li class="inline-block mx-2"><a href="{% url 'login' %}" class="text-white hover:text-gray-300">Login</a></li>
                        <li class="inline-block mx-2"><a href="{% url 'register' %}" class="text-white hover:text-gray-300">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <!-- Sidenav for small devices -->
    <div id="mySidenav" class="sidenav">
        <a href="{% url 'landing_page' %}" class="flex items-center text-white text-lg font-bold smnav">
            <img src="{% static 'images/icons/whitefa.png' %}" alt="Logo" class="h-10 w-10 mr-1">
            BrainyToes
        </a>
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        {% if user.is_authenticated %}
        <br>
            <a href="{% url 'landing_page' %}"><i class="fas fa-home icon"></i>Home</a>
            <a href="{% url 'books' %}"><i class="fas fa-book icon"></i>Books</a>
            <a href="{% url 'software' %}"><i class="fas fa-laptop-code icon"></i>Software</a>
            <a href="{% url 'tutorials' %}"><i class="fas fa-chalkboard-teacher icon"></i>Tutorials</a>
            <a href="{% url 'account' %}"><i class="fas fa-user icon"></i>Account</a>
            <a href="{% url 'custom_logout' %}"><i class="fas fa-sign-out-alt icon"></i>Logout</a>
        {% else %}
            <a href="{% url 'login' %}"><i class="fas fa-sign-in-alt icon"></i>Login</a>
            <a href="{% url 'register' %}"><i class="fas fa-user-plus icon"></i>Register</a>
        {% endif %}
    </div>
    
    {% if user.is_authenticated and request.resolver_match.url_name == 'landing_page' %}
    
    {% for message in messages %}
    <div id="welcome-message" class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative mb-4">
        <strong class="font-bold">{{ message }}!</strong>
        <span id="close-message" class="absolute top-0 bottom-0 right-0 px-4 py-3">
            <svg class="fill-current h-6 w-6 text-green-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 5.652a1 1 0 10-1.414-1.414L10 7.172 7.066 4.238a1 1 0 10-1.414 1.414L8.586 10l-2.934 2.934a1 1 0 101.414 1.414L10 12.828l2.934 2.934a1 1 0 001.414-1.414L11.414 10l2.934-2.934z"/></svg>
        </span>
    </div>
    {% endfor %}
        
    <!-- javascript disappearing message -->
    {% endif %}
    
    
    <div class="container mx-auto mt-10">
        {% block content %}{% endblock %}
    </div>
    <br><br><br><br><br><br><br>
    <center ><h4>Copyright © 2025 BrainyToes, LLC.</h4></center>
    <script src="{% static 'js/index.js' %}"></script>
</body>
</html>
