{% extends 'base.html' %}
{% block title %}Software|Get the latest software updates here{% endblock %}
{% block content %}

    <div class="container mx-auto mt-10">
        <h1>Software</h1>
        <div class="mt-5">
            <label for="category" class="block text-sm font-medium text-gray-700">Select Category</label>
            <select id="category" name="category" class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
                {% for category in categories %}
                <option>{{ category.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div id="software-list" class="mt-10">
            <!-- Software items will be displayed here based on the selected category -->
        </div>
    </div>
{% endblock %}