{% extends 'base.html' %}
{% block title %}Welcome To BrainyToes|Landing Page{% endblock %}
{% block content %}

    <div class="container mx-auto mt-10">
        <div class="text-center">
            <h1 class="text-4xl font-bold mb-5">Welcome to Brainytoes</h1>
            <p class="mb-5">Search and download software, PDFs, and watch videos on how to install the downloaded software.</p>
            <input type="text" placeholder="Search..." class="border p-2 rounded w-full max-w-md mx-auto mb-5">
            <div class="flex justify-center">
                <button class="bg-blue-500 text-white px-4 py-2 rounded">Search</button>
            </div>
        </div>
    </div>
{% endblock %}