{% extends 'base.html' %}
{% block title %}Register Account|BrainyToes|{% endblock %}
{% block content %}

{% for message in messages %}
    <div id="welcome-message" class="bg-red-100 border border-red-100 text-green-700 px-4 py-3 rounded relative mb-4">
        <strong class="font-bold">{{ message }}!</strong>
        <span id="close-message" class="absolute top-0 bottom-0 right-0 px-4 py-3">
            <svg class="fill-current h-6 w-6 text-red-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 5.652a1 1 0 10-1.414-1.414L10 7.172 7.066 4.238a1 1 0 10-1.414 1.414L8.586 10l-2.934 2.934a1 1 0 101.414 1.414L10 12.828l2.934 2.934a1 1 0 001.414-1.414L11.414 10l2.934-2.934z"/></svg>
        </span>
    </div>
    {% endfor %}

<div class="max-w-md mx-auto bg-white p-5 rounded-md shadow-sm">
    <h2 class="text-2xl font-bold mb-5 text-center">Register</h2>
    <form method="post">
        {% csrf_token %}
        {% if form.errors %}
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-4">
            <strong class="font-bold">Error!</strong>
            <span class="block sm:inline">{{ form.errors }}</span>
        </div>
        {% endif %}
        <div class="mb-4">
            <label for="username" class="block text-gray-700">Username</label>
            <input type="text" name="username" id="username" class="border p-2 rounded w-full" placeholder="aloisius">
        </div>
        <div class="mb-4">
            <label for="email" class="block text-gray-700">Email</label>
            <input type="email" name="email" id="email" class="border p-2 rounded w-full" placeholder="example@example.com">
        </div>
        <div class="mb-4">
            <label for="password1" class="block text-gray-700">Password</label>
            <input type="password" name="password1" id="password1" class="border p-2 rounded w-full">
        </div>
        <div class="mb-4">
            <label for="password2" class="block text-gray-700">Confirm Password</label>
            <input type="password" name="password2" id="password2" class="border p-2 rounded w-full">
        </div>
        <div class="flex justify-center">
            <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">Register</button>
        </div>
    </form>
    <p class="mt-4 text-center">Already have an account? <a href="{% url 'login' %}" class="text-blue-500">Login</a></p>
    <div class="mt-4 text-center">
        <p>Or sign in with:</p>
    </div>
</div>
{% endblock %}
